{% extends "partials/template.twig" %}

{% block content %}

<form action="/add" method="post" enctype="multipart/form-data">
	<input type="hidden" name="MAX_FILE_SIZE" value="4194304" />
	<label for="imagem">imagem</label>
	<input type="file" accept="image/*" name="imagem" id="imagem">
	<label for="nome">nome:</label>
	<input type="text" name="nome" id="nome">
	<label for="banda">banda:</label>
	<input type="text" name="banda" id="banda">
	<label for="valor">valor R$</label>
	<input type="number" name="valor" id="valor" step="0.01">
	<label for="quantidade">quantidade:</label>
	<input type="number" name="quantidade" step="1">
	<button type="submit">enviar</button>
</form>

{% endblock %}
