{% extends "partials/template.twig" %}

{% block content %}

<div class="teste">
	<font size="1" <h1> Para fazer encomendas, escrever para:</h1>
	</font>
	<br>
	<h2>comercial.disco@gmail.com</h2>
</div>



{% endblock %}
