{% extends "partials/template.twig" %}

{% block content %}
<div class="container">
	<div class="mt-4">
		<h1 class="text-center">Produtos</h1>
	</div>
</div>

<div class="container">

	{% for Produto in produtos %}

	{% endfor %}
</div>


{% endblock %}
