{% extends "partials/template.twig" %}

{% block content %}

<div class="container h-100 d-flex justify-content-center">
	<div class="jumbotron my-auto">
		<h1 class="text-center">
			Quem somos?
		</h1>
		<br>
		<p>Vinhemos de uma comunidade no Facebook que compartilha conhecimentos em
			relação a disco de vinil, através dessa comunidade veio a ideia de criar um e-commerce especializado em
			vinis raros para
			colecionadores. O nosso objetivo
			final e ser o líder desse segmento.</p>
		<br>
		<li>
			<span>
				<strong>Transparência:</strong> Onde colocamos sempre qual a real condição do disco. Quando o disco é
				usado,
				sempre colocamos
				a foto real
				do produto que está sendo vendido.
			</span>
		</li>
		<br>
		<li>
			<span>
				<strong>Qualidade:</strong> Fazemos um filtro nos discos usados e os que apresentem defeitos na execução
				são
				descartados e não vendidos
				na nossa loja. Nestes anos de operação, não tivemos nenhuma reclamação. Pelo contrário, muito elogios
				que
				você pode
				conferir em “Depoimentos”. Para manter o alto nível de qualidade, limpamos todos os discos usados com um
				produto
				especial e trocamos os plásticos internos e externos. E caprichamos muito na embalagem, que é composta
				por
				plástico
				bolha + uma camada de papelão ondulado + Uma camada de papel pardo.
				Quando você compra um disco novo, também mandamos um plástico externo para que você possa manter ele bem
				protegido.
			</span>
		</li>
		<br>
		<li>
			<span>
				<strong>Agilidade:</strong>
				Enviamos o pedido o mais rápido possível. Entendemos muito bem o que é a ansiedade de ter
				aquele
				disco tão
				desejado rodando na vitrola e nada dele chegar.
				Novidades, fazemos um trabalho de curadoria avaliando tudo que é lançado em vinil lá fora e aqui no
				Brasil
				para
				selecionarmos mensalmente várias novidades para fornecer aqui no Brasil em pronta entrega tudo que esta
				bombando no
				mundo do vinil.
			</span>
		</li>
	</div>
</div>

{% endblock %}