<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% block header_content %}
	<meta name="description" content="">
	<meta name="author" content="{{ author }}">
	<link href="/public/favicon.ico" rel="icon" type="image/x-icon" />
	<title>{{ appname }} {{ pagename }}</title>

	{% endblock %}

	{% block styles %}
	{#Bootstrap CSS#}
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/app.css">
	{% endblock %}

</head>

<body>

	{% block navigation %}

	<nav class="navbar navbar-expand-md navbar-light">
		<a class="navbar-brand" href="/home">{{ appname }}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav"
			aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="nav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/login">Login</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/sobre">Sobre nós</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/contato">Contato</a>
				</li>



			</ul>
			<div>
				<a href="https://twitter.com/Twitter">
					<img src="/resources/img/twitter.png" width="22" height="22">
				</a>

				<a href="https://www.facebook.com/facebookappBrasil">
					<img src="/resources/img/facebook.png" width="22" height="22">
				</a>
				<a href="https://www.instagram.com/instagram/">
					<img src="/resources/img/instagram.png" width="22" height="22">
				</a>
			</div>
		</div>
	</nav>
	{% endblock %}


	{% block content %}

	<div class="container">

		<div class="text-center mt-4">
			No content added
		</div>

	</div>
	{% endblock %}

	{% block scripts %}

	{# Bootstrap core JavaScript#}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	{% endblock %}
</body>

</html>
